@import './config/index.less';

@prefixCls: ~'@{prefixClass}-features';

.@{prefixCls} {
  --gap: 12px;
  --icon-size: 80px;
  --title-font-size: 20px;
  --desc-font-size: 14px;

  margin: 0 24px;

  &-item {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    align-items: center;
    text-align: center;

    &-icon {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      width: var(--icon-size);
      height: var(--icon-size);
      text-align: center;

      img {
        display: block;
        max-width: 100%;
      }
    }

    &-title {
      margin-bottom: var(--gap);
      font-size: var(--title-font-size);
      line-height: 1.2;
    }

    &-description {
      color: #717484;
      font-size: var(--desc-font-size);
      line-height: 1.5;
    }
  }

  @media (max-width: @screen-sm) {
    &-item {
      flex-direction: row;
      text-align: left;
    }
  }
}
