@import '~antd/es/style/themes/default.less';

@prefix-upload-cls: ~'antd-more-form-upload';

.@{prefix-upload-cls} {
  &-avatar {
    display: block !important;
    line-height: 0;

    &-place {
      &-name {
        margin-top: 8px;
      }
    }

    .ant-upload.ant-upload-select-picture-card {
      width: 122px;
      height: 122px;
      margin: 0;
    }

    &-box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 120px;
      height: 120px;

      &:hover {
        border-color: #1890ff;
        cursor: pointer;
      }

      .anticon {
        font-size: 26px;
      }

      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }

      &-error {
        color: #ff4d4f;
        border-color: #ff4d4f;

        &:hover {
          border-color: #ff4d4f;
        }
      }
    }
  }

  .ant-upload-list-picture-card {
    min-height: 112px;
  }
}
