@prefix-upload-cls: ~'antd-more-form-upload';

.@{prefix-upload-cls} {
  --size: 100px;
  --gap: 8px;
  --avatar-size: 120px;
  --avatar-hover-color: #1890ff;
  --error-color: #ff4d4f;

  &-avatar {
    display: block !important;
    line-height: 0;

    &-place {
      &-name {
        margin-top: 8px;
      }
    }

    &.ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select {
      width: calc(var(--avatar-size) + 2px);
      height: calc(var(--avatar-size) + 2px);
      margin: 0;
      overflow: hidden;
    }

    &-box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--avatar-size);
      height: var(--avatar-size);

      &:hover {
        border-color: var(--avatar-hover-color);
        cursor: pointer;
      }

      .anticon {
        font-size: 26px;
      }

      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }

      &-error {
        color: var(--error-color);
        border-color: var(--error-color);

        &:hover {
          border-color: var(--error-color);
        }
      }
    }
  }

  .ant-upload-list-picture-card {
    min-height: calc(var(--size) + var(--gap) + 2px);
  }
}

// .ant-form-item.ant-form-item-has-error {
//   .@{prefix-upload-cls} {
//     &-avatar {
//       .ant-upload.ant-upload-select-picture-card {
//         border-color: #ff4d4f;

//         &:hover {
//           border-color: #ff4d4f;
//         }
//       }
//     }
//   }
// }
