@import '../../style/themes/default.less';
@import '../../biz-field/style/index.less';
@import '../../biz-form/style/index.less';

@prefix-table-cls: ~'@{prefix}-table';

.@{prefix-table-cls} {
  .ant-table {
    th,
    td {
      word-wrap: break-word;
      word-break: break-all;
    }
  }

  &-nowrap {
    .ant-table-pagination.ant-pagination {
      flex-wrap: wrap;
    }

    .ant-table {
      th,
      td {
        white-space: nowrap;
      }

      td.antd-more-table-cell-wrap {
        white-space: normal;
      }
    }
  }

  @media (max-width: @screen-xs) {
    .ant-pagination-total-text {
      display: none;
    }
  }
}
