@prefix-image-cls: ~'antd-more-field-image';

.@{prefix-image-cls} {
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: -8px;
  margin-left: -8px;

  &-item {
    margin: 0 0 8px 8px;

    .ant-image {
      vertical-align: top;

      &-img {
        margin: 0 auto;
      }
    }

    &-name {
      box-sizing: border-box;
      padding: 5px 2px;
      color: rgba(0, 0, 0, 0.65);
      line-height: 1.5;
      white-space: nowrap;
      text-align: center;

      &-wrap {
        white-space: normal;
      }
    }
  }

  &-bordered {
    .@{prefix-image-cls} {
      &-item {
        &-image {
          padding: 8px;
          border: 1px solid rgb(217, 217, 217);
          border-radius: 5px;

          .ant-image {
            display: flex;
            align-items: center;
            overflow: hidden; // ie11 图片会溢出

            &-img {
              width: auto !important;
              max-width: 100%;
              height: auto !important;
              max-height: 100%;
            }
          }
        }
      }
    }
  }
}
